In [3]:
import pandas as pd

In [5]:
hr_data_df = pd.read_csv("ibm_data_train.csv")
hr_data_df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,34,No,Travel_Rarely,511,Sales,3,2,Life Sciences,1,1779,...,1,80,0,6,3,3,2,2,2,2
1271,21,Yes,Travel_Rarely,337,Sales,7,1,Marketing,1,1780,...,2,80,0,1,3,3,1,0,1,0
1272,38,No,Travel_Rarely,1153,Research & Development,6,2,Other,1,1782,...,2,80,1,5,3,3,5,4,0,4
1273,22,Yes,Travel_Rarely,1294,Research & Development,8,1,Medical,1,1783,...,3,80,0,1,6,3,1,0,0,0
1274,31,No,Travel_Rarely,196,Sales,29,4,Marketing,1,1784,...,1,80,2,13,3,3,12,7,5,7
1275,51,No,Travel_Rarely,942,Research & Development,3,3,Technical Degree,1,1786,...,4,80,0,15,2,3,2,2,2,2
1276,37,No,Travel_Rarely,589,Sales,9,2,Marketing,1,1787,...,1,80,2,5,2,3,5,2,0,3
1277,46,No,Travel_Rarely,734,Research & Development,2,4,Medical,1,1789,...,3,80,1,24,3,3,2,1,2,2
1278,36,No,Travel_Rarely,1383,Research & Development,10,3,Life Sciences,1,1790,...,4,80,1,15,1,3,12,8,5,7
1279,44,Yes,Travel_Frequently,429,Research & Development,1,2,Medical,1,1792,...,3,80,3,6,2,2,5,3,2,3
1280,37,No,Travel_Rarely,1239,Human Resources,8,2,Other,1,1794,...,3,80,0,19,4,2,10,0,4,7
1281,35,Yes,Travel_Rarely,303,Sales,27,3,Life Sciences,1,1797,...,4,80,0,10,2,3,10,7,7,7
1282,33,No,Travel_Rarely,867,Research & Development,8,4,Life Sciences,1,1798,...,2,80,1,14,1,3,10,8,7,6
1283,28,No,Travel_Rarely,1181,Research & Development,1,3,Life Sciences,1,1799,...,3,80,1,5,6,4,5,3,0,3
1284,39,No,Travel_Rarely,1253,Research & Development,10,1,Medical,1,1800,...,3,80,0,9,3,3,4,3,2,2
1285,46,No,Non-Travel,849,Sales,26,2,Life Sciences,1,1801,...,3,80,0,6,3,3,2,2,2,2
1286,40,No,Travel_Rarely,616,Research & Development,2,2,Life Sciences,1,1802,...,4,80,1,7,5,2,4,3,0,2
1287,42,No,Travel_Rarely,1128,Research & Development,13,3,Medical,1,1803,...,3,80,2,10,2,2,0,0,0,0
1288,35,No,Non-Travel,1180,Research & Development,2,2,Medical,1,1804,...,3,80,1,15,6,3,7,7,1,7
1289,38,No,Non-Travel,1336,Human Resources,2,3,Human Resources,1,1805,...,4,80,3,13,3,3,11,10,3,8
1290,34,Yes,Travel_Frequently,234,Research & Development,9,4,Life Sciences,1,1807,...,3,80,1,11,3,2,7,1,0,7
1291,37,Yes,Travel_Rarely,370,Research & Development,10,4,Medical,1,1809,...,2,80,0,10,4,1,10,3,0,8
1292,39,No,Travel_Frequently,766,Sales,20,3,Life Sciences,1,1812,...,4,80,1,7,6,3,2,1,2,2
1293,43,No,Non-Travel,343,Research & Development,9,3,Life Sciences,1,1813,...,3,80,0,7,2,2,3,2,1,2
1294,41,No,Travel_Rarely,447,Research & Development,5,3,Life Sciences,1,1814,...,1,80,0,11,3,1,3,2,1,2
1295,41,No,Travel_Rarely,796,Sales,4,1,Marketing,1,1815,...,4,80,1,23,3,4,22,14,13,5
1296,30,No,Travel_Rarely,1092,Research & Development,10,3,Medical,1,1816,...,2,80,0,9,3,3,7,7,0,2
1297,26,Yes,Travel_Rarely,920,Human Resources,20,2,Medical,1,1818,...,3,80,0,6,3,3,5,1,1,4
1298,46,Yes,Travel_Rarely,261,Research & Development,21,2,Medical,1,1821,...,4,80,1,13,2,4,9,7,3,7
1299,40,No,Travel_Rarely,1194,Research & Development,1,3,Life Sciences,1,1822,...,4,80,1,12,3,3,5,3,0,3

In [17]:
#指定するカラムを抽出
data1 = hr_data_df[["Age","Department"]]

#数字を入れるときはカラムのindexで抽出される
data2 = hr_data_df[[1,2]]

#列を抽出
data3 = hr_data_df[hr_data_df.column]
data3

SyntaxError: invalid syntax (<ipython-input-17-5fe49ba5d6b3>, line 7)